<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 配置JedisPool -->
    <bean class="redis.clients.jedis.JedisPool">
        <!-- 配置redis单机版的ip地址 -->
        <constructor-arg name="host" value="${redis.host}" />
        <!-- 配置redis单机版的端口号 -->
        <constructor-arg name="port" value="${redis.port}" />
    </bean>

    <!-- 配置单机版实现 -->
    <bean class="com.supermarket.cart.redis.impl.RedisPool" />

    <!-- 配置集群版的连接对象jedisCluster -->
    <bean class="redis.clients.jedis.JedisCluster">
        <constructor-arg name="nodes">
            <!-- 配置集群节点信息 -->
            <set>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg name="host" value="${cluster1.host}" />
                    <constructor-arg name="port" value="${cluster1.port}" />
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg name="host" value="${cluster2.host}" />
                    <constructor-arg name="port" value="${cluster2.port}" />
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg name="host" value="${cluster3.host}" />
                    <constructor-arg name="port" value="${cluster3.port}" />
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg name="host" value="${cluster4.host}" />
                    <constructor-arg name="port" value="${cluster4.port}" />
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg name="host" value="${cluster5.host}" />
                    <constructor-arg name="port" value="${cluster5.port}" />
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg name="host" value="${cluster6.host}" />
                    <constructor-arg name="port" value="${cluster6.port}" />
                </bean>
            </set>

        </constructor-arg>
    </bean>

    <!-- 配置集群版的实现 -->
    <!-- <bean class="com.taotao.cart.redis.RedisCluster" /> -->

</beans>

